<%= form_with model: @user do |form| %>

    <% if @user.errors.any? %>
    <div>
        <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prevented this user from being saved:
        </h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <div>
        <%= form.label :username, "Username"%>
        <%= form.text_field :username %>
    </div>

    <div>
        <%= form.label :email, "Email" %>
        <%= form.email_field :email,  placeholder: "example@example.com" %>
    </div>

    <div>
        <%= form.label :password, "Choose a password" %>
        <%= form.password_field :password %>
    </div>

    <%= form.submit "Create User" %>
<% end %>