<p style="color: green"><%= notice %></p>

<% content_for :title, "Cars" %>

<h1>Cars</h1>

<p>This page displays all cars saved in the database.</p>

<div id="cars">
  <!-- @cars comes from CarsController#index -->
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this car", car %>
    </p>
  <% end %>
</div>

<% if @cars.any? %>
  <p>There are <%= @cars.count %> cars saved.</p>
<% else %>
  <p>No cars have been added yet.</p>
<% end %>

<%= link_to "New car", new_car_path %>
